# Byte-compiled / optimized / DLL files
__pycache__/

# dotenv
.env
.venv
venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/

# Database files
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Other
*.pkl